# android studio files
*.iml
.gradle
.externalNativeBuild

/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches/build_file_checksums.ser

/build
/captures
.externalNativeBuild
/.idea/caches/build_file_checksums.ser


#local config files
/local.properties

# OSX files
.DS_Store

# java class files
*.class
